{
    "env": {
        "node": true,
        "es2023": true
    },
    "rules": {
        "no-unused-vars": "warn",
        "no-console": "off",
        "no-debugger": "warn",
        "eqeqeq": [
            "error",
            "always"
        ],
        "curly": "error",
        "prefer-const": "error",
        "no-var": "error",
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/explicit-function-return-type": "off",
        "no-duplicate-imports": "error",
        "no-useless-return": "error",
        "no-throw-literal": "error",
        "no-implicit-coercion": "warn",
        "consistent-return": "warn",
        "default-case": "warn",
        "callback-return": "off",
        "handle-callback-err": "warn",
        "no-process-exit": "off"
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ]
}